* {box-sizing: border-box;}

html, body {
  margin: 0;
  font-family: Heebo!important;
  height: 100vh;
}

.orange{ 
  font-size:20px;
  line-height: 1.20;
  letter-spacing: 0.14px;
  text-align: left;
  color:#e46e38;
  margin-top: 78px; 
  text-align: center;
  font-family: Heebo;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;

}

.dergo{
  border: 1px solid #e46e38;
  font-family: Heebo;
  
}

.rectangle{
  height: 140px;
  border: solid 1px #e46e38;
  background-color: #ffffff;
  margin-top: 39px; width: 82%;
}

.sygjerime{
  width: 202px;
  height: 37px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #bfbfbf;
  padding-top: 10px;
}

.btn{
  width: 115px;
  height: 40px;
  background-color: rgb(109, 185, 211); 
  color: white; 
  border: 1px solid rgb(187, 214, 223);
  border-radius:8px;
  margin-top: 33.7px;
  font-family: Heebo;
}

.footeri{
  bottom: 0;
  width: 100%;
  position: absolute;
  width: 100%;
  background-color: #5cc3d6;
}

input{
  width: 256.3px;
  height: 138px;
}

textarea{
  width: 80%;
  padding: 6px!important;
}

.gixinput{
  border: 1px solid #e46e38;
}

.spinnericon{
  width: 40px!important;
  height: 40px!important;
}